@model BlogApplication.Data.Entities.Tag

@{
    ViewData["Title"] = "Delete";
}
<h3>Удалить тег</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="TagId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Create">Back to List</a>
    </form>
</div>
